@-webkit-keyframes slidein {
    from { margin-left: -100%; }
    to   { margin-left: 0; }
}
@-moz-keyframes slidein {
    from { margin-left: -100%; }
    to   { margin-left: 0; }
}
@-ms-keyframes slidein {
    from { margin-left: -100%; }
    to   { margin-left: 0; }
}

@-o-keyframes slidein {
    from { margin-left: -100%; }
    to   { margin-left: 0; }
}

@keyframes slidein {
    from { margin-left: -100%; }
    to   { margin-left: 0; }
}

.slidein {
    -webkit-animation-name: slidein;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: slidein;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: ease-in-out;
    -ms-animation-name: slidein;
    -ms-animation-duration: 1s;
    -ms-animation-timing-function: ease-in-out;
    -o-animation-name: slidein;
    -o-animation-duration: 1s;
    -o-animation-timing-function: ease-in-out;
}