body {
    margin: 0;
    background: #EDEDED;
    font-size: 20px;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #428BCA;
}

a:hover {
    color: #125B9A;
}

.header {
    background: #26A65B;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    float: left;
    width: 30%;
    text-align: center;
    color: #FFF;
}

.header h1 {
    margin: 0;
}

.header img {
    max-width: 100%; 
    display:block; 
    height: auto;
    border-radius: 50%;
    margin: 1em auto;
}

.menu {
    padding: .5em 0 0 0;
}


.menu-item {
    margin: 1em auto;
    width: 60%;
    list-style-type: none;
    font-size: 1.2em;
    font-weight: bold;
}

.active {
    background-color: #1E824C;
}

.menu-link {
    padding: 0.5em 0;
    width: 100%;
    display: block;
    margin: auto;
    text-decoration: none;
    color: #FFF;
}

.menu-link:hover {
    color: #FFF !important;
    background-color: #1E824C; 
}

.contact {
    list-style: none;
    display: table;
    padding: 0;
    margin: auto;
    width: 100%;
}

.contact li {
    margin: 0;
    display: inline-block;
    font-size: 1em;
    width: 10%;
}

.contact li a {
    border-radius: 10%;
    padding: 0.5em 0;
    width: 100%;
    display: block;
    margin: auto;
    text-decoration: none;
    color: #FFF;
}

.contact li a:hover {
    background-color: #1E824C;
}

.content {
    position: relative;
    margin-left: 30%;
    padding: 2% 2% 0 5%;
}

.tabs {
    list-style: none;
    display: table;
    padding: 0;
    margin: auto;
    width: 100%;
}

.tabs li {
    text-align: center;
    margin: 1%;
    display: inline-block;
    font-size: 1em;
    width: 22%
}

.tabs a {
    padding: 1% 1%;
    color: #000;
}

.tabs a:hover {
    background-color: #DDD;
}

.tabs .active {
    background-color: #DDD;
}

.projects {
    list-style: none;
    display: table;
    padding: 0;
    margin: auto;
    width: 100%;
}

.thumbnail {
    background: #F8F8F8;
    display: block;
    border: 1px solid #DDD;
    padding: 1em;
    margin: 1em auto;
    border: solid .1em #999;
}

.thumbnail img {
    display: block;
    max-width: 100%;
    max-height: 180px;
    margin: auto;
}

.thumbnail a {
    color: #333;
}

.thumbnail a:hover {
    color: #333;
    text-decoration: underline;
}

.thumbnail h3 p {
    padding: 1em 1em 0 1em;
}

.thumbnail p a {
    text-decoration: none;
    color: #428BCA;
}

.thumbnail p a:hover {
    color: #125B9A;
}

.collapse {
    display: none;  
    background: #26A65B;
    text-align: center;
    color: #FFF;
}

.collapse h1 {
    margin: 0;
    display: inline-block;
}

.menuicon {
    display: inline-block;
    right: 0;
    float: right;
}

.menuicon a {
    padding: 0 .4em;
    font-size: 1.5em;
    color: #FFF;
}

.menuicon a:hover {
    background: #1E824C;
}

.collapse .menu {
    margin: .5em 0;
    padding: 0;
}


.collapse .menu-item {
    margin: 0;
    width: 100%;
    list-style-type: none;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.collapse .menu-link {
    padding: 0.5em 0;
    width: 100%;
    display: block;
    margin: auto;
    text-decoration: none;
    color: #FFF;
}

.collapse .contact {
    position: fixed;
    height: 1em;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    background: #26A65B;
}

@media (max-width: 900px) {
    
    body {
        margin-bottom: 1em;
    }

    .header {
        display: none;
    }

    .collapse {
        display: block;
    }

    .content {
        position: relative;
        margin: 2%;
        padding: 2% 2%;
    }

}

@media (max-width: 490px) {
    .tabs li {
        text-align: left;
        display: block;
    }
}
