<section>
    <ul class="tabs">
        <li>
            <a ng-class="{active: isActive('node')}" ng-click="changeTab('node')" href>Node.js</a>
        </li>
        <li>
            <a ng-class="{active: isActive('games')}" ng-click="changeTab('games')" href>Games</a>
        </li>
        <li>
            <a ng-class="{active: isActive('webapps')}" ng-click="changeTab('webapps')" href>Webapps</a>
        </li>
        <li>
            <a ng-class="{active: isActive('others')}" ng-click="changeTab('others')" href>Others</a>
        </li>
    </ul>
</section>